.footer{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #0A2850;
    padding: 60px 80px;
    overflow: hidden;
    position:relative;
    
}

.footer__content{
    
    display: flex;
    justify-content: space-between;
    
}

.footer__logo{
    height: 39px;
    width: 105px;
    z-index: 1;
}

.footer__content_circle{
    position: absolute;
    border-radius: 340px;
    background-color: #2F80ed;
    width: 340px;
    height: 340px;
    z-index: 0;
    top: -128px;
    left: -44px;
}

.footer__content_social{
    display: flex;
    
    color: #FFFFFF;
    flex-direction: column;
}

.footer__content_social-heading{
    display: flex;
    font-weight: bold;
    margin: 0 0 20px 0;
    justify-content: flex-end;
}

.footer__content_list{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    gap: 16px;
}

.footer__content_list-item{
    font-weight: normal;
    gap: 10px;
}

.footer__content_social-icon{
    width: 16px;
    height: 16px;
}

.footer__content_social-link{
    text-decoration: none;
    color: inherit;
}

.footer__content_social-link:hover{
    
    color: #c1c1c1;
}

.footer__copyright{
    color: #FFFFFF;
    font-weight: normal;
    margin-top: 108px;
    margin-bottom: 0;
    z-index: 0;
}